ion-card-title {
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 10px;
  }
  
  ion-label h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-label p {
    font-size: 0.9em;
    color: #666;
  }
  
  ion-button {
    --margin-start: 10px;
  }
  