ion-card-title {
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 10px;
  }
  
  ion-avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  ion-label h2, ion-label h3 {
    font-weight: bold;
  }
  
  ion-button {
    --margin-start: 10px;
  }
  