ion-card-title {
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 10px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-text {
    color: #555;
  }
  
  ion-button {
    --margin-start: 10px;
  }
  