ion-card-title {
    font-weight: bold;
  }
  
  ion-segment {
    margin-top: 10px;
  }
  
  ion-segment-button {
    --border-radius: 8px;
    --color-checked: #fff;
    --background-checked: #3880ff;
  }
  
  ion-item {
    --padding-start: 10px;
    margin-top: 20px;
  }
  
  ion-button {
    --margin-top: 20px;
  }
  