<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Paramédico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="paramedico.rut" name="rut" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="paramedico.nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input [(ngModel)]="paramedico.clave" name="clave" type="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="register()">Registrar</ion-button>
  </form>
</ion-content>
