<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Paramédicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let paramedico of paramedicos">
      <ion-label>
        <h2>{{ paramedico.nombre }}</h2>
        <p>{{ paramedico.rut }}</p>
      </ion-label>
      <ion-button (click)="edit(paramedico)" fill="outline" slot="end">Editar</ion-button>
      <ion-button (click)="delete(paramedico)" color="danger" slot="end">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
