ion-card-title {
    font-weight: bold;
  }
  
  ion-item {
    --padding-start: 10px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-select, ion-textarea {
    margin-top: 8px;
  }
  
  ion-button {
    --margin-top: 20px;
  }
  