/* Estilo para el menú y el toolbar */
ion-toolbar {
  --background: #0d47a1; /* Azul oscuro para el toolbar */
  --color: white; /* Texto en blanco */
}

ion-menu {
  --background: #e3f2fd; /* Fondo azul claro para el menú */
}

ion-item {
  --background: transparent; /* Fondo transparente para los items */
  --color: #0d47a1; /* Texto azul oscuro */
}

ion-icon {
  color: #0d47a1; /* Iconos en azul oscuro */
}

/* Estilo para el contenido principal y el fondo */
ion-content.background {
  --background: url('/assets/imgs/emergencias-fondo.png') no-repeat center center / cover;
}

#reloj {
  font-size: 2em;
  font-weight: bold;
  color: #0d47a1;
  text-align: center;
  margin-top: 20px;
}


ion-card-header[color="danger"] {
  --background: #d32f2f; /* Rojo oscuro para emergencias activas */
  --color: white; /* Texto en blanco */
}

/* Estilo adicional para ion-card */
ion-card {
  --background: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
  --border-radius: 12px; /* Bordes redondeados para las tarjetas */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra ligera para las tarjetas */
}

ion-card-title {
  font-weight: bold;
  color: #0d47a1; /* Azul oscuro para los títulos de las tarjetas */
}

ion-label h2 {
  font-weight: bold;
  color: #0d47a1;
}

/* Botón 1: Azul Claro */
ion-button.btn-azul-claro {
  --background: #64b5f6;
  --color: #1a237e; /* Texto oscuro */
}

/* Botón 2: Verde Claro */
ion-button.btn-verde-claro {
  --background: #81c784;
  --color: #1b5e20; /* Texto oscuro */
}

/* Botón 3: Aqua */
ion-button.btn-aqua {
  --background: #4dd0e1;
  --color: #004d40; /* Texto oscuro */
}

/* Botón 4: Verde Menta */
ion-button.btn-verde-menta {
  --background: #80cbc4;
  --color: #004d40; /* Texto oscuro */
}

/* Botón 5: Azul Suave */
ion-button.btn-azul-suave {
  --background: #64b5f6;
  --color: #1a237e; /* Texto oscuro */
}

/* Botón 6: Verde Pastel */
ion-button.btn-verde-pastel {
  --background: #aed581;
  --color: #33691e; /* Texto oscuro */
}

/* Botón 7: Turquesa Claro */
ion-button.btn-turquesa-claro {
  --background: #4db6ac;
  --color: #004d40; /* Texto oscuro */
}

/* Botón 8: Verde Agua */
ion-button.btn-verde-agua {
  --background: #a5d6a7;
  --color: #1b5e20; /* Texto oscuro */
}

/* Sombra ligera para todos los botones */
ion-button {
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
  --padding: 12px 24px;
  font-weight: bold;
}
